@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap");
* {
  padding: 0px;
  margin: 0px;
}

/* Fonts */
/* Header */
.titulo:hover, .tituloNota:hover, .tituloPpe:hover, .tituloHeader:hover {
  transition: all 1s;
  color: brown;
}

header {
  background-color: #1E1E1E;
}

.inicioIndex {
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menuNav {
  text-align: end;
}

.headerIndex {
  display: flex;
  align-items: center;
}

.tituloHeader {
  margin-left: 20px;
  color: white;
}
.tituloPpe {
  margin-left: 20px;
  color: white;
}
.tituloPpe:hover {
  -webkit-transform: translate(20px);
  -o-transform: translate(20px);
  -moz-transform: translate(20px);
  transform: translate(20px);
}

.subrayado {
  text-decoration: none;
}

/* End header */
.titulo:hover, .tituloNota:hover, .tituloHeader:hover, .tituloPpe:hover {
  transition: all 1s;
  color: brown;
}

/* Main */
.secciones {
  background-color: #1E1E1E;
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 20px 0px;
}

.linkSecciones {
  color: white;
  text-decoration: none;
  border: white solid 4px;
  margin-left: 30px;
  font-size: 2em;
  padding: 10px;
}
.linkSecciones:hover {
  border: brown solid 4px;
  color: white;
  transition: all 1s;
}

/* Carrusel */
.carrusel {
  height: 90vh;
}

.carrusel img {
  height: 100%;
  width: 100%;
}

.carrusel h2 {
  font-size: 3em;
}

/* Fin Carrusel */
.mainHome {
  display: grid;
  grid-template-rows: 300px 300px;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 40px;
}

.imagenesHome {
  position: relative;
  box-shadow: 1px 1px 5px black;
}

.tituloPosition {
  position: absolute;
  left: 15px;
  bottom: 10px;
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
}

.titulo {
  margin-top: 10px;
}
.imagenesHome:first-child {
  grid-column: 1/3;
  grid-row: 1/3;
}

.imagenPosition {
  width: 100%;
  height: 100%;
}

/* Secciones */
.paginasInternas {
  display: grid;
  grid-template-rows: repeat(3, 500px);
  grid-template-columns: 800px 400px;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.imagenesInternas {
  position: relative;
}

.parrafoInternas {
  display: flex;
  font-size: 1.5em;
  text-align: justify;
  padding: auto;
  align-items: center;
  background-color: whitesmoke;
}

.parrafo {
  margin: 15px;
}

/* PPE y Nosotros */
.container {
  margin-top: 20px;
  text-align: center;
}

.nosotrosGrid {
  margin: auto;
  justify-content: center;
}

.row:last-child {
  margin-top: 20px;
  margin-bottom: 20px;
}

.ppeParrafo {
  text-align: left;
  font-size: 1.5em;
  margin-top: 30px;
}

.ppeFondo {
  background-color: whitesmoke;
}

/* Notas */
.escritosBloque {
  position: relative;
  box-shadow: 1px 1px 5px black;
  margin: auto;
  margin-top: 20px;
}

.escritosPosition {
  position: absolute;
  left: 50px;
  bottom: 10px;
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
}

.escritosTitulo {
  font-size: 3em;
}

.escritos {
  text-align: justify;
  font-size: 1.5em;
  line-height: 40px;
  background-color: whitesmoke;
}

/* End main */
/* Footer */
footer {
  background-color: black;
  padding-bottom: 20px;
  padding-top: 20px;
}

.footerContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  width: 400px;
}

.redes {
  display: flex;
  list-style-type: none;
}

.redes img {
  width: 60px;
  margin-right: 40px;
}

/* End footer */
/* Media Query */
/* Medida aproximadas para acomodar todos los dispositivos */
/* Medida notebooks */
@media (max-width: 1299px) {
  .linkSecciones {
    font-size: 1.7em;
  }

  main {
    padding-bottom: 30px;
  }

  .mainHome {
    display: grid;
    grid-template-rows: 600px 400px 400px;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }

  .imagenesHome {
    margin-left: 15px;
    margin-right: 15px;
  }

  .imagenesHome:first-child {
    grid-column: 1/3;
    grid-row: unset;
  }

  .paginasInternas {
    display: grid;
    grid-template-rows: repeat(3, 500px);
    grid-template-columns: 700px 350px;
    gap: 20px;
    justify-content: center;
  }

  .parrafoInternas {
    font-size: 1.3em;
  }

  .logo {
    width: 350px;
  }

  .redes img {
    width: 50px;
    margin-right: 40px;
  }

  .escritosTitulo {
    font-size: 2.5em;
  }
}
@media (max-width: 999px) {
  .escritosTitulo {
    font-size: 2.2em;
  }
}
/* Medida tablets */
@media (max-width: 899px) {
  .tituloPpe {
    font-size: 1.8em;
  }

  .tituloHeader {
    font-size: 1.5em;
  }

  .carrusel {
    height: 70vh;
  }

  .linkSecciones {
    font-size: 1.5em;
    margin-left: none;
  }

  main {
    padding-bottom: 10px;
  }

  .mainHome {
    display: flex;
    flex-wrap: wrap;
  }

  .paginasInternas {
    display: flex;
    flex-wrap: wrap;
  }

  .parrafoInternas {
    font-size: 1.7em;
  }

  .logo {
    width: 300px;
  }

  .redes img {
    width: 40px;
    margin-right: 40px;
  }

  .escritosBloque {
    width: 75% !important;
  }

  .escritos {
    width: 75% !important;
  }
}
@media (max-width: 699px) {
  .carrusel h2 {
    font-size: 2.7em;
  }
}
/* Medida celulares grandes */
@media (max-width: 599px) {
  .tituloHeader {
    font-size: 1.5em;
  }

  .carrusel {
    height: 50vh;
  }
  .carrusel h2 {
    font-size: 2.5em;
  }

  .headerIndex img {
    width: 80px;
  }

  .linkSecciones {
    font-size: 1.3em;
    margin-left: none;
  }

  .parrafoInternas {
    font-size: 1.4em;
  }

  .logo {
    width: 250px;
  }

  .redes img {
    width: 30px;
    margin-right: 20px;
  }

  .nosotros {
    width: 350px;
  }

  .ppe img {
    width: 350px;
  }

  .ppeParrafo {
    font-size: 1.3em;
    text-align: center;
  }

  .escritosPosition {
    left: 30px;
  }

  .escritosTitulo {
    font-size: 2em;
  }

  .escritos {
    font-size: 1.3em;
  }
}
/* Medida celulares medianos */
@media (max-width: 499px) {
  .headerIndex img {
    display: none;
  }

  .tituloPpe {
    font-size: 1.5em;
  }

  .tituloHeader {
    font-size: 1.3em;
  }

  .carrusel {
    height: 40vh;
  }
  .carrusel h2 {
    font-size: 2em;
  }

  .linkSecciones {
    font-size: 1em;
    border: white solid 3px;
  }

  .logo {
    width: 200px;
  }

  .redes img {
    width: 20px;
    margin-right: 20px;
  }

  .nosotros {
    width: 300px;
  }

  .escritosTitulo {
    font-size: 1.7em;
  }

  .escritosBloque {
    width: 80% !important;
  }

  .escritos {
    width: 80% !important;
  }
}
/* Medida celulares chicos */
@media (max-width: 399px) {
  .tituloPpe {
    font-size: 1.3em;
  }

  .tituloHeader {
    font-size: 1em;
  }

  .linkSecciones {
    font-size: 1em;
    border: white solid 2px;
  }

  .headerIndex img {
    width: 60px;
  }

  .logo {
    width: 150px;
  }

  .carrusel {
    height: 30vh;
  }
  .carrusel h2 {
    font-size: 1.5em;
  }

  .redes img {
    width: 15px;
    margin-right: 10px;
  }

  .nosotros {
    width: 275px;
  }

  .ppe img {
    width: 275px;
  }

  .ppeParrafo {
    font-size: 1em;
  }

  .escritosBloque {
    width: 85% !important;
  }

  .escritosTitulo {
    font-size: 1.5em;
  }

  .escritos {
    font-size: 1em;
    width: 85% !important;
  }
}
/* Medida celulares pequeños */
@media (max-width: 320px) {
  .linkSecciones {
    font-size: 0.6em;
  }

  .logo {
    width: 150px;
  }

  .redes img {
    width: 15px;
    margin-right: 10px;
  }

  .ppe img {
    width: 250px;
  }

  .nosotros {
    width: 250px;
  }
}
.tituloHeader:hover, .tituloPpe:hover, .tituloNota:hover, .titulo:hover {
  transition: all 1s;
  color: brown;
}

/*# sourceMappingURL=style.css.map */
